:root {
    --dark: #0a0400;
    --light: #98a3a5;
    --white: #fff;
    --primary: #fbb023;
    --secondary: #d0581c;
    --accent: #f1ac88;
    --ff-stylist: "Raleway", sans-serif;
    --ff-normal: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.main-movie-details {
    height: 100vh;
}
